
//general settings
.red-label {
  background-color: pink;
}
.green-label {
  background-color: lightgreen;
}
//
.attackerDicePool {

}
#attackerDiceRoll {
  padding: 4px;
}
.hitSuccess {
  font-weight: bold;
  font-style: oblique;
  outline: 1px solid #000;a
  padding: 1px;
}
.hitFail {
  font-weight: lighter;
  font-style: italic;
}
